/*
 EEEEE           EEEEE
E  _  E         E  _  E
E |_| E_________E |_| E  스테이지 디자인 툴
E         O  O        E     Stage Design Tool
E                     E
E   |_____________|   E  ☞스타일시트
E                     E
E                     E  버전 0.9.1
 EEEEEEEEEEEEEEEEEEEEE              RR Games
*/
body, textarea, input, select{
	font-family: 맑은 고딕, 돋움
}
h3{
	margin-top: 3px;
	margin-bottom: 3px;
}
.FL{
	float: left;
}
.Plt{
	border: 1px solid #EEE;
	width: 30px;
	height: 30px;
}
.Block{
	float: left;
	width: 38px;
	height: 38px;
	border: 1px solid #EEE;
}
.BlockBG{
	width: 38px;
	height: 38px;
}
.Group{
	padding: 4px;
	border: 2px solid #DDD;
	margin: 2px;
	background-color: #F4F4F4;
}
#TxtDesc{
	width: 100%;
	height: 40%;
	margin-top: 5px;
}
#Picked{
	float: left;
}
#Canvas{
	float: left;
	width: 360px;
	height: 360px;
	border: 2px solid #BBB;
	padding: 4px;
}
#Quest{
	font-size: 14px;
}
.MissionTitle{
	font-size: 16px;
	font-weight: bold;
	color: #00F;
}
#Bottom{
	float: left;
	position: absolute;
	margin-left: -10px;
	width: 100%;
	height: 20px;
	bottom: 0px;
	background-color: rgba(0,0,0,0.7);
	color: #FFF;
	font-size: 14px;
	padding: 5px;
}
#Popup{
	position: absolute;
	width: 70%;
	height: 70%;
	left: 15%;
	top: 15%;
	padding: 4px;
	border: 3px solid #777;
	background-color: rgba(255,255,255,0.7);
}
#PopupText{
	width: 100%;
	height: 100%;
	overflow: scroll;
	white-space: nowrap;
}
#ViewerScroller{
	overflow-x: scroll;
}
.ViewPort{
	float: left;
	margin: 2px;
	border: 1px dashed rgba(0,0,0,0.2);
}
.ViewBlock{
	float: left;
	width: 12px;
	height: 12px;
	border: 1px solid rgba(0,0,0,0.2);
	color: #FFFFFF;
	font-size: 9px;
	text-align: center;
}
.ViewTitle{
	float: left;
	font-weight: bold;
}