@font-face {
	font-family: 'SeoulHangang';
	src: url('https://rrgames.me:3000/kkutu/res/SeoulHangangM.woff') format('woff');
}

body{
	margin: 0px;
	background-color: #CDE0FF;
	background-image: url('./image/background.png');
}
body, input{
	font-family: SeoulHangang;
}

#Top{
	height: 30px;
}
#Middle{
	position: absolute;
	top: 30px;
	width: 100%;
	height: calc(100% - 30px);
}
.MenuItem{
	float: right;
	width: 118px;
	height: 28px;
	font-size: 14px;
	border: 1px solid rgba(0, 0, 0, 0);
}
.MenuItem:hover{
	border: 1px solid rgba(0, 0, 0, 0.1);
}
.QuitBtn{
	background-color: #FFBB99;
}
#Hider{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	color: #FFFFFF;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 65536;
}
#Support{
	display: none;
}

#TopStatus{
	position: absolute;
	right: 0px;
	width: 160px;
	height: inherit;
	padding-top: 5px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.2);
	color: #4477FF;
}
#MenuBox{
	border-bottom: 1px solid #DDEEFF;
	background-color: #77AAFF;
	height: 28px;
	padding-right: 160px;
}
.Room{
	position: absolute;
	width: calc(100% - 166px);
	height: calc(100% - 166px);
	padding: 3px;
}
#MyRoom{
	width: calc(100% - 6px);
	background-color: #DDEEFF;
	z-index: 1;
}
#MyBox{
	position: absolute;
	width: 154px;
	height: 154px;
	padding: 3px;
	bottom: 0px;
	right: 0px;
	background-color: #F4F4F4;
}
#UserBox{
	position: absolute;
	width: 154px;
	height: calc(100% - 166px);
	padding: 3px;
	top: 0px;
	right: 0px;
	background-color: #E4E7EE;
}
#RoomUserBox, #GameUserBox{
	overflow: hidden;
}
.UserItem{
	text-align: center;
	background-color: rgba(0, 0, 0, 0.05);
}
.RoomUserItem{
	float: left;
	text-align: center;
	width: 160px;
	height: 300px;
	background-color: rgba(255, 255, 255, 0.5);
}
.RoomItem{
	float: left;
	width: 300px;
	height: 160px;
	background-color: #F4F4F4;
}
.RoomTitle{
	color: #0000FF;
}
#ChatBox{
	position: absolute;
	width: calc(100% - 166px);
	height: 134px;
	padding: 3px;
	overflow-y: scroll;
	border-top: 1px solid #DDDDDD;
	left: 0px;
	bottom: 20px;
	background-color: #FFFFFF;
	z-index: 3;
}
.Chat{
	width: calc(100% - 6px);
	margin: 3px;
}
#ChatInput{
	position: absolute;
	width: calc(100% - 5px);
	height: 16px;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	padding: 1px;
	left: 0px;
	bottom: 0px;
	background-color: #F4F4F4;
	z-index: 3;
}
.ChatNoticeEnter, .ChatNoticeExit{
	background-color: #E7E7E7;
}
.ChatUserName{
	color: #2266FF;
}
.ChatWriter{
	float: left;
	width: 120px;
	overflow-x: hidden;
	white-space: nowrap;
}
.ChatContent{
	float: left;
	width: calc(100% - 120px);
}
.ChatImage{
	vertical-align: top;
	margin-right: 4px;
}

#GameBox{
	width: calc(100% - 6px);
	overflow: hidden;
	background-color: #000000;
	z-index: 2;
}
.GameUserItem{
	float: left;
	text-align: center;
	width: 160px;
	height: 200px;
}
.GameUserImage{
	float: left;
	width: 100%;
	height: 140px;
}
.GameUserName{
	float: left;
	width: 100%;
	color: #FFFF00;
	height: 20px;
	background-color: rgba(255, 255, 255, 0.1);
}
.GameUserScore{
	float: left;
	width: 40px;
	height: 40px;
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
	background-color: rgba(0, 0, 0, 0.3);
}
.ScoreItem{
	position: absolute;
	font-size: 24px;
	color: #AAFFAA;
	width: 160px;
	text-align: center;
}
.Pointed{
	border: 3px solid #44FF44 !important;
}
.BoomPointed{
	border: 3px solid #FF4444;
}
#GameSubjectPanel{
	font-size: 20px;
	margin-bottom: 5px;
}
#GameUserBox{
	float: left;
	width: calc(100% - 6px);
}
#GameStatusBox{
	float: left;
	text-align: center;
	width: calc(100% - 6px);
	height: 150px;
	color: #FFFFFF;
}
#MeaningPanel{
	width: 100%;
	height: 36px;
}
.MeaningBlock{
	position: absolute;
	float: left;
	border: 2px dashed #333333;
	margin: 0px 2px;
	max-width: 200px;
	background-color: #222222;
}
.LatestWord{
	background-color: #444444;
}
.MeaningWord{
	color: #44CCFF;
}
.MeaningText{
	color: #BBBBBB;
	float: inherit;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	height: 14px;
	font-size: 12px;
}
#TotalTimeBar{
	width: calc(100% - 6px);
	height: 24px;
	text-align: right;
	border-radius: 4px;
	margin: 3px 0px;
	color: #000000;
	overflow: hidden;

	background: #fceabb; /* Old browsers */
	background: -moz-linear-gradient(top,  #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(50%,#fccd4d), color-stop(51%,#f8b500), color-stop(100%,#fbdf93)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
}
#TurnTimeBar{
	width: calc(100% - 6px);
	height: 24px;
	text-align: right;
	border-radius: 4px;
	color: #000000;
	overflow: hidden;
	
	background: #6db3f2; /* Old browsers */
	background: -moz-linear-gradient(top,  #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6db3f2), color-stop(50%,#54a3ee), color-stop(51%,#3690f0), color-stop(100%,#1e69de)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
}
.AChar{
	position: absolute;
	width: 30px;
	text-align: center;
}
#Dialog{
	position: absolute;
	border: 1px solid #777777;
	border-radius: 4px;
	box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
	background-color: rgba(0, 0, 0, 0.1);
	z-index: 3;
}
#DialogTitle{
	font-size: 20px;
	padding: 4px;
	background-color: rgba(0, 0, 0, 0.2);
}
#DialogStage{
	padding: 4px;
}
#GameResultBox{
	position: absolute;
	width: 410px;
	height: 360px;
	left: calc(50% - 200px);
	border: 1px solid #FFFFFF;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 2;
}
#GameResultButton{
	width: 80px;
	height: 20px;
}
.GameResultRankItem{
	margin: 5px;
	width: 400px;
	height: 30px;
	font-size: 20px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.4);
}
.MyGRItem{
	border: 1px solid rgba(255, 255, 255, 0.5);
	background-color: rgba(255, 255, 255, 0.3);
}
.GRRank{
	float: left;
	width: 60px;
	color: #FFFF00;
}
.GRName{
	float: left;
	width: 240px;
	color: #FFFFFF;
}
.GRScore{
	float: left;
	width: 100px;
	color: #44FF44;
}
#GameItemBox{
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 384px;
	height: 62px;
}
.GameItem{
	float: left;
	width: 60px;
	height: 60px;
	color: #AAFFBB;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 4px;
	margin: 1px;
	background-color: rgba(48, 150, 60, 0.5);
}
.GameItemHotkey{
	font-size: 11px;
	color: #227744;
}
.GameItemQuantity{
	font-size: 11px;
	color: #FFFFFF;
}
.ItemEffect{
	font-size: 24px;
	text-shadow: 2px 0px #000000;
	position: absolute;
	width: 160px;
	color: #FFFF44;
}