<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>Newdb</title>
=======
  <title>Rankserver</title>
>>>>>>> 83dd36dedcd2beab7a90f3a57102516fc5323bbc
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
